{% extends "layout.html" %}
{% import _self as macro %}

{% block content %}
    <div class="deployements">
        {{ macro.renderToolbar(current_file) }}

        <table class="table table-hover">
            <thead>
                <tr>
                    {% for attribute in attributes %}
                        <th class="{{ attribute.name }}">
                            {{ attribute.name }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        {% for attribute in attributes %}
                            <td class="{{ attribute.name }} {{ entity.renderRowClass(attribute.name) }}">
                                {{ entity.render(attribute.name)|raw }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ macro.renderToolbar(current_file) }}
    </div>
{% endblock %}

{% macro renderToolbar(current_file) %}
    <div class="pull-right">
            <a href="{{ path('file_edit', {'file': current_file}) }}" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </a>
            <a href="{{ path('file_download', {'file': current_file}) }}" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-download-alt"></span> Download
            </a>
    </div>
{% endmacro %}